<div class="container">

  <h3>Want to contribute?</h3>
<%= link_to "Create Article", article_new_path %>
  <br>
<% @articles.each do |article| %>

  <p id="article-title"><%= article.title %></p>

  <p id="article-content"><%= truncate(article.content, length:300) %></p>

  <p id="article-user"><%= article.user.first_name %></p>

  <p id="article-created-at"><%= article.created_at %></p>

<% end %>
</div>

