<body>
<div class="main">
  <div class="container">

    <p>heyyyy</p>

    <%= form_for(:article, url: article_new_path) do |f| %>

      <p>theeerrre</p>

      <%= label_tag(:title, "Title") %>
      <%= f.text_field :title %>

      <%= label_tag(:content, "Content") %>
      <%= f.text_area :content %>

      <%= f.submit "Submit", class: "btn btn-primary" %>

    <% end %>

  </div>
</div>
</body>