<body>
<div class="main">
  <div class="container">

    <%= form_with model: @user, id: 'signup-form' do |f| %>

      <%= label_tag(:first_name, "First Name") %>
      <%= f.text_field :first_name %>

      <%= label_tag(:last_name, "Last Name") %>
      <%= f.text_field :last_name %>

      <%= label_tag(:email, "Email") %>
      <%= f.text_field :email %>

      <%= label_tag(:password, "Password") %>
      <%= f.text_field :password %>

      <%= f.submit "Sign Up" %>
    <% end %>
  </div>
</div>
</body>