<body>
<div class="main">
  <div class="container">

    <h1>GOOSE</h1>

    <form id="signup-form">
      <%#= form_tag("/signup", method: "get") do %>
      <%= form_for(@user) do |f| %>
        <%= label_tag(:first_name, "First Name") %>
        <%= text_field_tag(:first_name) %>

        <%= label_tag(:last_name, "Last Name") %>
        <%= text_field_tag(:last_name) %>

        <%= label_tag(:email, "Email") %>
        <%= text_field_tag(:email) %>

        <%= label_tag(:password, "Password") %>
        <%= text_field_tag(:password) %>

        <%= submit_tag("Submit") %>
      <% end %>
    </form>
  </div>
</div>
</body>